{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              {% block content %}

              {% endblock %}
              {% bootstrap_css %}
              {% bootstrap_javascript jquery='full' %}
          </div>
          <div class="col-md-4">
              <h3>Muvalab Blog</h3>
              <p>This is our sidebar</p>
          </div>
      </div>
  </div>
</body>
</html>